<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{album}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<hr class="">
<div class="container target">
    <div class="row">
        <div class="col-sm-10">
             <h1 class="">{{album}}</h1>
        </div>
      <div class="col-sm-2"><img class="img-circle img-responsive" src="{{imageLink}}">

        </div>
    </div>
  <br>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

          
            <ul class="list-group panel panel-default">
                    <div class="panel-heading">Tracks in dit album<i class="fa fa-link fa-1x"></i>

                    </div>
                    {% for track in tracks%}
                        <li class="list-group-item"><a href="../track/{{track}}">{{ track }}</a></li>
                    {% endfor %}
            </ul>
        </div>
        <!--/col-3-->
        <div class="col-sm-9" style="" contenteditable="false">
                <ul class="list-group">
                        <li class="list-group-item text-muted" contenteditable="false">Over dit album</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Taal</strong></span> {{ language }}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Lanceer datum</strong></span>{{ date }}</li>
                      <li class="list-group-item text-right"><span class="pull-left"><strong class="">Aantal tracks</strong></span> {{ amount }}
                       
                              </li>
                    </ul>
                   <div class="panel panel-default">
                     <div class="panel-heading">Hoofd Artiest
        
                        </div>
                        <div class="panel-body"><i class="fa fa-check-square"></i> <a href="../artist/{{maker}}" class="">{{maker}}</a>
        
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Amazon link<i class="fa fa-link fa-1x"></i>
        
                        </div>
                        <div class="panel-body"><a href="{{amazonLink}}" class="">Amazon.com</a>
        
                        </div>
                    </div>
            <div class="panel panel-default">
                <div class="panel-heading">Tags van {{album}}</div>
                <div class="panel-body"> {% for tag in tags%}
                        <li class="list-group-item">{{ tag }}</li>
                    {% endfor %}

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">Gemaakt door artiesten</div>
                <div class="panel-body">
                  <div class="row">
                {%for artist in artists %}
				<div class="col-md-4">
					<div class="thumbnail">
						<div class="caption">

                            
							<h3>
								<a href="../artist/{{artist}}">{{artist}}</a>
							</h3>
							
						</div>
					</div>
                </div>
                {% endfor %}

                     
            </div>
                 
        </div>
              
    </div>
    </div>


            <div id="push"></div>
        </div>
        
</div>
        
</body>
</html>