<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='search.js') }}"></script>

</head>
<body>
    <div>
        <div class="center">

            <h2>Musico</h2>
            <p class="r">Bekijk alle artiesten, albums en tracks van de klassieke muziek door de jaren heen.</p>

            <div class="row top-buffer-80">
                <div class="col-md-6 search-bar">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="form-control input-lg" type="text" name="fname" id="fname" onkeyup="myFunction(this.value)" placeholder="Artiest, album of track">
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <ul id="results">
                </ul>
            </div>
        </div>

        <div class="row top-buffer-80">
            <div class="center">

                <h4 class="h">Klik hier beneden om een willekeurige artiest, album of track te zien</h4>
            </div>
        </div>
        <div class="row top-buffer-80">
            <div class="center">
                <div class="col-lg-4"><a class="vl artist-vl" href="{{ url_for('artist', artist=artist) }}">Artist</a></div>
                <div class="col-lg-4"><a class="vl album-vl" href="{{ url_for('album', album=album) }}">Album</a></div>
                <div class="col-lg-4"><a class="vl track-vl" href="{{ url_for('track', track=track) }}">Track</a></div>
            </div>
        </div>
        </div>
    

</body>

</html>